.mylogin {
  margin-top: 25%;
  text-align: center;
  & .input {
    border: 1px solid rgb(113, 200, 255);
    border-radius: .50rem;
    margin-top: 1.2rem;
  }
  & .login-btn {
    margin: 3.2rem;
  }
  & .logo {
    text-align: center;
    & img {
      width: 66%;
      height: 50%;
    }
  }
}

.myregister {
  height: 50px;
}